body {
  background-repeat: no-repeat;
  background-color: #9797a1; /* fallback color */
  background-image: url(images/gradient.jpg) repeat-x #9797A1; /* fallback image */
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0.07, rgb(151,151,161)),
    color-stop(0.75, rgb(221,220,225))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(151,151,161) 7%,
    rgb(221,220,225) 75%
  );
}
a:hover {
 text-decoration: underline;
}
a {
  color: #183152;
  text-decoration: none;
}
.node a, .comment a {
  color: #009;
  text-decoration: none;
}
.node a:focus, .comment a:focus, .node a:hover, .comment a:hover {
  color: #009;
  text-decoration: underline;
}
.box {
  padding: 1.5em;
  margin-bottom: 1.5em;
  background: #F2F2F2;
}
fieldset {
  background-color: #F2F2F2;
  margin-bottom: 10px;
  padding: 10px;
}
#main {
  min-height: 297px;
}
#site-header {
  margin-bottom: 10px;
  width: 970px;
  margin-left: -5px;
}
#content-container {
  position: relative;
  background: white;
  padding: 20px 0 0 10px;
  width: 960px;
  margin-left: -5px;
  float: left;
  border-top: 1px solid #183152;
  -moz-box-shadow: 7px 7px 14px #888;
  -webkit-box-shadow: 7px 7px 14px #888;
  box-shadow: 7px 7px 14px #888;
}
#sidebar-right {
  xpadding-top: 40px;
  border-left: 3px solid #183152;
  margin-left: 0;
  padding-left: 10px;
}
#feature-tabs {
  margin: -10px 0 -1px -10px;
  position: relative;
  z-index: 1;
}
#feature-tabs ul {
  float: left;
  margin-top: 19px;
}
#feature-tabs ul.admin-links {
  margin-left: 30px;
}
#feature-tabs ul li {
  padding: 0;
}
#feature-tabs ul li a {
  background: #183152;
  padding: 1px 5px 0;
  float: left;
  text-align: center;
  margin-bottom: 0;
  margin-left: 5px;
  min-width: 65px;
  text-decoration: none;
  color: white;
  -moz-border-radius-topleft: 5px;
  -moz-border-radius-topright: 5px;
  -webkit-border-top-left-radius: 5px;
  -webkit-border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
#feature-tabs ul li.active a{
  background: #F2F2F2;
  color: #183152;
  border-top: 1px solid #183152;
  border-right: 1px solid #183152;
  border-left: 1px solid #183152;
}
#feature-tabs ul li a:hover {
 background: #375D81;
 color: white;
}
#feature-tabs ul li.active a:hover {
 background: #F2F2F2;
 color: #183152;
}
#global_nav {
  margin-top: 12px;
}
#global_nav .links {
  float: right;
}
/* Hide my groups from non-logged-in folks */
.not-logged-in .secondary-menu .last {
  display: none;
}
#global_nav li {
  padding: 0;
  margin-right: 10px;
}
#global_nav li.last {
  margin-right: 0;
}
#global_nav a {
  color: white;
  text-decoration: none;
  font-size: 13px;
}
#global_nav a:hover {
  color: #E6E6E6;
}
#global_nav .picture {
  width: 30px;
  height: 30px;
  margin: -4px 5px 0 0;
}
#global_nav .picture a {
  background-repeat:no-repeat;
  display:block;
  height:30px;
  width: 30px;
  overflow-x:hidden;
  overflow-y:hidden;
  text-indent:100px;
}
#breadcrumb {
  margin: -10px 0 10px 0;
}
#breadcrumb a {
  text-decoration: underline;
}
.user-links {
  float: right;
  margin-right:50px;
}
.user-links a {
  margin-left: 10px;
}
#branding {
  background: #375D81;
  height: 45px;
}
.block {
  xpadding-left: 10px;
}
#footer-message {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #183152;
}

/** Search box **/
#search-box {
  margin-top: 12px;
}
#search-box .form-text {
  border: #183152;
}
#search-box .form-item {
  float: left;
  margin: 0;
}
#search-box label {
  display: none;
}
#search-box .form-submit {
  border: #183152;
  float: left;
  margin-left: 5px;
}

/** Pagers **/
.item-list .pager li, .pager li a {
  background: #183152;
  color: white;
}
.item-list .pager li.pager-current {
  background: white;
  color: #183152;
  border: 1px solid #183152;
}
#space-title h2 {
  font-family: helvatica, arial, sans-serif;
  font-weight: bolder;
  font-size: 300%;
  margin: 0px 0 15px 0;
  line-height: 30px;
}
#space-title h2 a {
  color: black;
  text-decoration: none;
}
#my-groups {
  background: white;
  position: absolute;
  left: 634px;
  top: 23px;
  display: none;
  z-index: 101;
  padding: 15px;
  border: 5px solid #183152;
}
#my-groups p {
  margin: 7px 0 0 0;
}
#my-groups h2 {
  margin-bottom: 0;
}
#my-groups hr {
  margin-top: 0;
}
#my-groups a {
  color: #375D81;
  text-decoration: none;
  display: block;
  padding: 3px;
}
#my-groups a:hover {
  background: #183152;
  color: white;
}
.create-new-group {
  font-size: 110%;
}

/* Node Styles */
.node {
  border-bottom: 1px solid #375D81;
  padding-bottom: 10px;
}
.meta {
  margin-bottom: 10px;
}
.meta-info {
  margin-top: 10px;
}
h2.node-title {
  margin-bottom: 0;
  line-height: 25px;
}
h2.node-title a {
  text-decoration: none;
  color: #183152;
}
h2.node-title a:hover {
  text-decoration: underline;
}
.node-submitted {
  display:table-cell;
  vertical-align:middle
}
.node-submitted, .node-submitted a {
  color: #375D81;
}
.node-submitted a {
  text-decoration: none;
}
.node-submitted a:hover {
  text-decoration: underline;
}
.conversation-bubble-container {
  margin-top: -70px;
}
.conversation-bubble-container a {
  text-decoration: none;
  color: #375D81;
}
.conversation-teaser a:hover {
  text-decoration: underline;
}
.conversation-bubble {
  border: 1px solid black;
  padding: 10px; 
  line-height: 1.2em;
  position: relative;
  margin-bottom: 30px;
}
.conversation-bubble img {
  position: absolute;
  left: 86px;
  bottom: -25px;
}
.conversation-bubble img.imagecache {
  position: relative;
  bottom: 0;
  left: 0;
  margin-right: 2px;
}
.conversation-teaser {
  float: right;
}
.node-links {
  float: right;
}
.node-links ul {
  border-top: 1px solid #E6E6E6;
  padding-left: 160px;
  clear: both;
}
.node-links li {
  margin-left: 20px;
}
ul.links {
  font-size: 1em;
  float: right;
}
ul.links li {
  padding: 0;
}
ul.links a {
  text-decoration: none;
  color: #375D81;
}
ul.links a:hover {
  color: #375D81;
}

/* User Pictures + submitted stuff in comments */
#comments {
  padding: 10px;
}

#page .author {
  background: #FFFFE8;
}
.comment.odd {
    background: #F2F2F2;
}
.comment.even {
    background: white;
}
h3#comment-number {
        border-bottom: 1px #BBBBBB solid;
        padding-bottom: 5px;
}
.new {
  color: #F08514;
  float: right;
  margin-right: 10px;
  padding: 10px;
  font-weight: bold;
}
div.comment-submitted {
  line-height: 30px;
  background: #EBEBEB;
  height: 30px;
  padding: 0 5px 0 0;
}
div.comment-submitted a.user-picture {
  text-indent:100px;
  overflow:hidden;
  display:block;
  background-repeat:no-repeat;
  height: 30px;
  }
  
div.comment-submitted div.picture {
  float: left;
  margin: 0 10px 0 0;
  height: 30px;
  width: 30px;
}

.views-field-picture .user-picture {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -900px;
}
div.comment .username a {
  font-size: 13px;
  font-weight: bold;
  vertical-align: baseline;
  text-decoration: none;
  color: #183152;
}
div.comment .username a:hover {
 text-decoration: underline;
}
.comment .date {
  float: right;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background: #fff;
  line-height: 20px;
  padding: 0 10px;
  margin: 5px 0;
  text-align: center;
}
.comment .date a:hover, .comment .date a:focus {
  text-decoration: underline;
}
.comment .date a {
  color: #183152;
  text-decoration: none;
}
div.comment div.meta {
  margin-bottom: 10px;
}
div.comment-content {
  width: 100%;
}

div#comments div.comment .odd {
  background: #F7FBFF;
}

div.container .author {
  background: #FFFFE8;
}

/** Button CSS code borrowed from http://code.google.com/p/sexybuttons/ **/
div.button ul {
  margin: 0;
}
a.button, div.button a {
  text-decoration: none;
  position: relative; 
  padding: 5px 10px 5px;
  font: inherit;
  font-style: normal !important; 
  font-weight: bold !important; 
  color: #fff !important;
  line-height: 1; 
  
  /* Special effects */
  text-shadow: 0 -1px 1px rgba(0,0,0,0.25), -2px 0 1px rgba(0,0,0,0.25); 
  border-radius: 5px; 
  -moz-border-radius: 5px; 
  -webkit-border-radius: 5px; 
  -moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5); 
  -webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
  
  /* IE only stuff */
  border-bottom: 1px solid transparent\9;
  _background-image: none;
  
  /* Cross browser inline block hack - http://blog.mozilla.com/webdev/2009/02/20/cross-browser-inline-block/ */
  display: -moz-inline-stack;
  display: inline-block;
  vertical-align: middle;
  *display: inline !important;
  position: relative;
  
  /* Force hasLayout in IE */
  zoom: 1;
  
  /* Disable text selection (Firefox only)*/
  -moz-user-select: none;
  
  background-color: #375D81;
  z-index: 100;
}


a.button:hover,
a.button:focus,
div.button a:hover,
div.button a:focus {
  background-position: 0 -50px; 
  color: #fff !important;
}

a.button:active,
div.button a:active { 
  background-position: 0 100%; 
  -moz-box-shadow: inset 0 1px 2px rgba(0,0,0,0.7); 
  /* Unfortunately, Safari doesn't support inset yet */
  -webkit-box-shadow: none;
  
  /* IE only stuff */
  border-bottom: 0\9;
  border-top: 1px solid #666\9;
}

div.messages {
  margin-bottom: 1.5em;
  padding: 0.68em;
  font-weight: bold;
  background: window;
  float: left;
  margin-left: 10px;
}
div.messages.success {
  border: 1px solid #7AC142;
  color: #55872E;
  background: #F1F8EB;
}
div.messages ul {
  margin-bottom: 0;
}
div.help {
  float: left;
}

/** Recent activity **/
.activity-item {
  border-bottom: 1px solid #808080;
  margin-bottom: 15px;
}
.view-eduglu-recent-activity .item-list li {
  list-style: none;
  margin: 0;
}
.view-eduglu-recent-activity h2 {
  margin-bottom: 0;
}
.activity-teaser a {
  text-decoration: underline;
}
.activity-meta, .activity-meta a {
  font-style: italic;
  font-size: 90%;
  color: #808080;
}
.activity-item-group-name, .activity-item-group-name a{
  color: #375D81;
}
.activity-body {
  display: none;
}
.activity-node-title {
  text-decoration: underline;
}

/** front page marketing stuff -- will remove **/
#front-page-marketing {
  border-collapse: collapse;
  border-top: 1px solid black;
  border-bottom: 2px solid black;
  margin: -20px 0 30px -20px;
  color: #212629;
}
#front-page-marketing td {
  /*border-right: 2px solid black;*/*/
  padding: 5px;
}
#front-page-marketing div {
  height: 260px;
  width: 268px;
  padding: 20px;
  position: relative;
}
#front-page-marketing li {
  font-size: 14px;
}
.join-now {
  font-size: 16px;
  margin-left: 1em;
  position: absolute;
  bottom: 0;
}
#front-teachers {
  background: #E1E6FA;
}
#front-students {
  background: #C4D7ED;
}
#front-alumni {
  background: #ABC8E2;
}

#front-header-search {
  background-color: #F0F0FE;
  margin: -3px -10px 0 -20px;
  padding-left: 100px;
  font-size: 125%;
  width: 880px;
}
#front-header-search h2 {
  font-style: italic;
  float: left;
  margin-top: 10px;
}

#front-header-search #search-theme-form {
  float: left;
  padding-left: 80px;
  padding-top: 20px;
}
#user-login {
  margin-left: 210px;
}
/*** End frontpage marketing **/

/* Messages */
.messages {
  background-color: #fff;
  border: 1px solid #b8d3e5;
}
div.status {
  color: #33a333;
  border-color: #c7f2c8;
}
div.error, tr.error {
  color: #a30000;
  background-color: #FFCCCC;
}
.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636;
}
/* Vertical Tabs are too wide */
div.vertical-tabs {
  width: 716px;
}

/* Override system.css css for tabs */
#context-links {
  border: none;
  border-bottom: 2px solid #E6E6E6;
  padding: 5px 10px;
  margin: -20px 0 15px -10px;
  width: 950px;
  height: 22px;
  background: #F2F2F2;
  /* Yeah for css3! */
  background-image: -webkit-gradient(
    linear,
    left bottom,
    left top,
    color-stop(0, rgb(230,230,230)),
    color-stop(0.7, rgb(242,242,242))
  );
  background-image: -moz-linear-gradient(
    center bottom,
    rgb(230,230,230) 0%,
    rgb(242,242,242) 70%
  );
}
#context-links .title {
  margin-top: 5px;
}
.grid-16 #context-links {
  margin-left: -20px;
}
.grid-16 .tabs .tabs {
  margin: 0;
}
.tabs {
  margin-top: 8px;
}
.tabs ul {
  margin: 0;
  padding: 0;
  border: 0;
}
ul.tabs li a {
  border: none;
  background-color: inherit;
}
ul.tabs li a:hover {
  color: white;
  background-color: #375D81;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  border-radus: 10px;
}
ul.tabs li.active a, h
ul.tabs li.active a:hover {
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
  -webkit-border-bottom-left-radius: 0;
  -webkit-border-bottom-right-radius: 0;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -moz-border-radius-bottomleft: 0;
  -moz-border-radius-bottomright: 0;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  
  background-color: white;
  padding: 5px 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid white;
  color: black;
}
.block-atrium_book h2 {
  font-size: 1em;
  margin: 0;
}

/**
 * Module: DIFF =======================================================
 */
div.diff-inline-controls span.diff-inline-legend { float:left; }

div.diff-inline-controls {
  float: right;
  background-color: inherit;
}

div.block-diff div.block-content {
  max-height:200px;
  overflow:auto;
  }

div.block-diff table.diff-inline-revisions tr,
div.block-diff table.diff-inline-revisions tr:hover {
  color:#999;
  background:transparent;
  border-top:1px solid #eee;
  }

div.block-diff table.diff-inline-revisions tr.active { color:#333; }

span.diff-deleted { color:#ccc; }

span.diff-added,
span.diff-changed {
  padding-top:5px;
  padding-bottom:5px;
  background:#ffc;
  border-bottom:1px solid #fe9;

  -webkit-border-radius:3px;
  -moz-border-radius:3px;
  }

span.diff-added {
  background:#cfc;
  border-color:#9c9;
}
.blank-slate {
  border: 1px solid #C7F2C8;
  color: #33A333;
  margin-top: 10px;
  padding: 10px;
  display: block;
  text-align: center;
  background-color: window;
}
/* Table overrides */
tr.odd .form-item, tr.even .form-item {
  max-width: 100%;
}
.ahah-progress {
  height: 26px;
  float: none;
}
