@charset "UTF-8";
/** Color Scheme **/
/* Mixins */
body {
  background-repeat: no-repeat;
  background-color: #9797a1;
  background-image: url('images/gradient.jpg?1287805802'), -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(7%, #9797a1), color-stop(75%, #dddce1));
  background-image: url('images/gradient.jpg?1287805802'), -moz-linear-gradient(bottom, #9797a1 7%, #dddce1 75%);
  background-image: url('images/gradient.jpg?1287805802'), linear-gradient(bottom, #9797a1 7%, #dddce1 75%); }

a {
  color: #183152;
  text-decoration: none; }
  a:hover {
    text-decoration: underline; }

.node a, .comment a {
  color: #000099;
  text-decoration: none; }

.node a:focus, .comment a:focus, .node a:hover, .comment a:hover {
  color: #000099;
  text-decoration: underline; }

.node .content {
  clear: both; }

#main .box {
  margin-bottom: 1.5em; }
  #main .box h4 {
    margin-bottom: 0.5em;
    color: #999999; }
  #main .box #comment-form p {
    display: none; }
  #main .box fieldset {
    background: none; }
  #main .box .username {
    float: none; }

.body-field-wrapper p {
  display: none; }

.tips {
  display: none; }

fieldset {
  background-color: #f2f2f2;
  margin-bottom: 1em;
  padding: 10px; }

#main {
  min-height: 297px; }

#page {
  margin-top: 60px; }

#site-header, #site-subheader, #footer-region, .column, .node, .comment, .block {
  margin-bottom: 1.5em; }

#content-container {
  position: relative;
  background: white;
  float: left;
  border-top: 1px solid #183152;
  -moz-box-shadow: 7px 7px 14px #888888;
  -webkit-box-shadow: 7px 7px 14px #888888;
  -o-box-shadow: 7px 7px 14px #888888;
  box-shadow: 7px 7px 14px #888888; }

#feature-tabs {
  margin-top: -1em;
  position: relative;
  z-index: 1; }
  #feature-tabs ul {
    float: left;
    margin: 2em 0 -1px -5px; }
    #feature-tabs ul.admin-links {
      margin-left: 30px; }
    #feature-tabs ul li {
      padding: 0; }
      #feature-tabs ul li a {
        background: #183152;
        padding: 1px 5px 0;
        float: left;
        text-align: center;
        margin-bottom: 0;
        margin-left: 5px;
        min-width: 65px;
        text-decoration: none;
        color: white;
        -moz-border-radius-topleft: 5px;
        -webkit-border-top-left-radius: 5px;
        -o-border-top-left-radius: 5px;
        -ms-border-top-left-radius: 5px;
        -khtml-border-top-left-radius: 5px;
        border-top-left-radius: 5px;
        -moz-border-radius-topright: 5px;
        -webkit-border-top-right-radius: 5px;
        -o-border-top-right-radius: 5px;
        -ms-border-top-right-radius: 5px;
        -khtml-border-top-right-radius: 5px;
        border-top-right-radius: 5px;
        -moz-border-radius-bottomleft: 0;
        -webkit-border-bottom-left-radius: 0;
        -o-border-bottom-left-radius: 0;
        -ms-border-bottom-left-radius: 0;
        -khtml-border-bottom-left-radius: 0;
        border-bottom-left-radius: 0;
        -moz-border-radius-bottomright: 0;
        -webkit-border-bottom-right-radius: 0;
        -o-border-bottom-right-radius: 0;
        -ms-border-bottom-right-radius: 0;
        -khtml-border-bottom-right-radius: 0;
        border-bottom-right-radius: 0; }
      #feature-tabs ul li.active a {
        background: #f2f2f2;
        color: #183152;
        border-top: 1px solid #183152;
        border-right: 1px solid #183152;
        border-left: 1px solid #183152; }
      #feature-tabs ul li a:hover {
        background: #304664;
        color: white; }
      #feature-tabs ul li.active a:hover {
        background: #f2f2f2;
        color: #183152; }

#breadcrumb {
  margin: -1em 0 1em 0; }
  #breadcrumb a {
    text-decoration: underline; }

.user-links {
  float: right;
  margin-right: 50px; }
  .user-links a {
    margin-left: 10px; }

.block h2 {
  font-size: 1.5em;
  line-height: 1;
  margin-bottom: 0.5em; }

.view-recent-discussion-comments ul, .view-recent-poll-comments ul {
  padding: 0; }
  .view-recent-discussion-comments ul .username, .view-recent-poll-comments ul .username {
    font-size: 81.25%; }
  .view-recent-discussion-comments ul .views-field-timestamp, .view-recent-poll-comments ul .views-field-timestamp {
    font-size: 75%; }

#footer-message {
  text-align: center;
  padding: 5px;
  border-top: 1px solid #183152; }

/** Pagers **/
.item-list .pager li, .pager li a {
  background: #183152;
  color: white; }

.item-list .pager li.pager-current {
  background: white;
  color: #183152;
  border: 1px solid #183152; }

#space-title h2 {
  font-family: helvatica, arial, sans-serif;
  font-weight: bolder;
  font-size: 300%;
  margin: 0px 0 15px 0;
  line-height: 30px; }
  #space-title h2 a {
    color: black;
    text-decoration: none; }

#ayour-groups-dropdown {
  background: white;
  position: absolute;
  left: 24px;
  top: 23px;
  display: none;
  z-index: 101;
  padding: 15px;
  border: 5px solid #183152; }
  #ayour-groups-dropdown p {
    margin: 7px 0 0 0; }
  #ayour-groups-dropdown h2 {
    margin-bottom: 0; }
  #ayour-groups-dropdown hr {
    margin-top: 0; }
  #ayour-groups-dropdown a {
    color: #4f76a9;
    text-decoration: none;
    display: block;
    padding: 3px; }
    #ayour-groups-dropdown a:hover {
      background: #183152;
      color: white; }

.create-new-group {
  font-size: 110%; }

/* Node Styles */
.node {
  border-bottom: 1px solid #e6e6e6;
  padding-bottom: 1em; }

.meta {
  margin-bottom: 1em; }

.not-page .full-content {
  display: none; }

#page-title {
  margin-bottom: 0.2em;
  line-height: 1.25em; }

h4.node-title, h3.node-title, h2.node-title {
  margin-bottom: 0; }
  h4.node-title a, h3.node-title a, h2.node-title a {
    text-decoration: none;
    color: #183152; }
    h4.node-title a:hover, h3.node-title a:hover, h2.node-title a:hover {
      text-decoration: underline; }

.node-submitted {
  display: table-cell;
  vertical-align: middle;
  color: #999999;
  font-size: 12px;
  float: left; }
  .node-submitted a {
    color: #4f76a9;
    text-decoration: none; }
    .node-submitted a:hover {
      text-decoration: underline; }

.conversation-bubble-container {
  margin-top: -70px; }
  .conversation-bubble-container a {
    text-decoration: none;
    color: #4f76a9; }

.conversation-teaser a:hover {
  text-decoration: underline; }

.conversation-bubble {
  border: 1px solid black;
  padding: 1em;
  line-height: 1.2em;
  position: relative;
  margin-bottom: 30px;
  overflow: hidden; }
  .conversation-bubble img {
    position: absolute;
    left: 86px;
    bottom: -25px; }
    .conversation-bubble img.imagecache {
      position: relative;
      bottom: 0;
      left: 0;
      margin-right: 2px; }

.conversation-teaser {
  float: right; }

.node-links {
  float: right; }
  .node-links ul {
    border-top: 1px solid #e6e6e6;
    padding-left: 160px;
    clear: both; }
  .node-links li {
    margin-left: 20px; }

ul.links {
  font-size: 1em;
  float: right; }
  ul.links li {
    padding: 0; }
  ul.links a {
    text-decoration: none;
    color: #4f76a9; }
    ul.links a:hover {
      color: #4f76a9; }

/* User Pictures + submitted stuff in comments */
#comments {
  padding: 10px; }

#comments .comment.author {
  background-color: #fffdd2;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #fffdd2), color-stop(100%, #fffddc));
  background-image: -moz-linear-gradient(bottom, #fffdd2, #fffddc);
  background-image: linear-gradient(bottom, #fffdd2, #fffddc);
  border-bottom: 1px solid #fff86c; }

#edit-comment-wrapper {
  width: 640px; }

body.cke_show_borders {
  width: auto; }

#comment-number {
  border-bottom: 1px #e6e6e6 solid;
  padding: 0.5em;
  margin-top: -1.25em; }

.comment {
  border-bottom: 1px solid #e6e6e6;
  position: relative; }
  .comment div.links {
    position: absolute;
    bottom: 5px;
    right: 0; }

.comment.odd {
  background-color: #fafafa;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #f2f2f2), color-stop(100%, #fafafa));
  background-image: -moz-linear-gradient(bottom, #f2f2f2, #fafafa);
  background-image: linear-gradient(bottom, #f2f2f2, #fafafa); }

.new-comment-count {
  color: #ff9a01;
  font-weight: bold; }

.new {
  color: #ff9a01;
  font-size: 125%;
  position: absolute;
  right: 10px;
  top: 30px; }

div.comment-submitted {
  line-height: 30px;
  background: #e6e6e6;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(25%, #e6e6e6), color-stop(100%, #f2f2f2));
  background-image: -moz-linear-gradient(bottom, #e6e6e6 25%, #f2f2f2);
  background-image: linear-gradient(bottom, #e6e6e6 25%, #f2f2f2);
  height: 30px;
  padding: 0 5px 0 0; }

.box a.user-picture,
.comment-submitted a.user-picture,
#comments a.user-picture {
  text-indent: 100px;
  overflow: hidden;
  display: block;
  background-repeat: no-repeat;
  height: 30px; }
.box div.picture,
.comment-submitted div.picture,
#comments div.picture {
  float: left;
  margin: 0 10px 0 0;
  height: 30px;
  width: 30px; }

.views-field-picture .user-picture {
  display: block;
  width: 30px;
  height: 30px;
  text-indent: -900px; }

.box .username,
.comment-submitted .username,
#comments .username {
  float: left;
  font-size: 13px;
  font-weight: bold;
  line-height: 30px;
  vertical-align: baseline;
  text-decoration: none;
  color: #183152; }
  .box .username:hover,
  .comment-submitted .username:hover,
  #comments .username:hover {
    text-decoration: underline; }

.comment .date {
  float: right;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  background: white;
  line-height: 20px;
  padding: 0 10px;
  margin: 5px 0;
  text-align: center; }
  .comment .date a {
    color: #183152;
    text-decoration: none; }
    .comment .date a:hover, .comment .date a:focus {
      text-decoration: underline; }

div.comment div.meta {
  margin-bottom: 0.75em; }
div.comment-content {
  width: 100%; }
div.button ul {
  margin: 0; }

a.button, div.button a {
  -webkit-box-sizing: border-box;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.143em;
  padding: 0 1em;
  -moz-border-radius: 0.667em;
  -webkit-border-radius: 0.667em;
  -o-border-radius: 0.667em;
  -ms-border-radius: 0.667em;
  -khtml-border-radius: 0.667em;
  border-radius: 0.667em;
  border: 1px solid #2f4563;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #b5c6dc), color-stop(4%, #819ec4), color-stop(100%, #4f76a9));
  background-image: -moz-linear-gradient(top, #b5c6dc, #819ec4 4%, #4f76a9);
  background-image: linear-gradient(top, #b5c6dc, #819ec4 4%, #4f76a9);
  text-shadow: #3f5e86 0 -1px 0;
  -webkit-box-shadow: inset white 0 0 2px; }
  a.button:active, div.button a:active {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #1e2d41), color-stop(4%, #375275), color-stop(100%, #446591));
    background-image: -moz-linear-gradient(top, #1e2d41, #375275 4%, #446591);
    background-image: linear-gradient(top, #1e2d41, #375275 4%, #446591);
    -webkit-box-shadow: inset #1e2d41 0 0 0.5em; }

#block-eduglu_core-thread_tools {
  text-align: center; }

.flag-button .unflag-action {
  -webkit-box-sizing: border-box;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 0.921em;
  padding: 0 0.806em;
  -moz-border-radius: 0.538em;
  -webkit-border-radius: 0.538em;
  -o-border-radius: 0.538em;
  -ms-border-radius: 0.538em;
  -khtml-border-radius: 0.538em;
  border-radius: 0.538em;
  border: 1px solid #b3b3b3;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(4%, #ffffff), color-stop(100%, #e6e6e6));
  background-image: -moz-linear-gradient(top, #ffffff, #ffffff 4%, #e6e6e6);
  background-image: linear-gradient(top, #ffffff, #ffffff 4%, #e6e6e6);
  text-shadow: #cdcdcd 0 -1px 0;
  -webkit-box-shadow: inset white 0 0 2px;
  color: gray; }
  .flag-button .unflag-action:active {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #9a9a9a), color-stop(4%, #c0c0c0), color-stop(100%, #d4d4d4));
    background-image: -moz-linear-gradient(top, #9a9a9a, #c0c0c0 4%, #d4d4d4);
    background-image: linear-gradient(top, #9a9a9a, #c0c0c0 4%, #d4d4d4);
    -webkit-box-shadow: inset #9a9a9a 0 0 0.5em; }

.flag-button .flag-action {
  -webkit-box-sizing: border-box;
  display: inline-block;
  color: #fff;
  text-decoration: none;
  font-size: 1.143em;
  padding: 0 1em;
  -moz-border-radius: 0.667em;
  -webkit-border-radius: 0.667em;
  -o-border-radius: 0.667em;
  -ms-border-radius: 0.667em;
  -khtml-border-radius: 0.667em;
  border-radius: 0.667em;
  border: 1px solid #895a0e;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #f6d5a0), color-stop(4%, #efb65b), color-stop(100%, #e69717));
  background-image: -moz-linear-gradient(top, #f6d5a0, #efb65b 4%, #e69717);
  background-image: linear-gradient(top, #f6d5a0, #efb65b 4%, #e69717);
  text-shadow: #b87912 0 -1px 0;
  -webkit-box-shadow: inset white 0 0 2px; }
  .flag-button .flag-action:active {
    background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #5b3c09), color-stop(4%, #a06910), color-stop(100%, #c68214));
    background-image: -moz-linear-gradient(top, #5b3c09, #a06910 4%, #c68214);
    background-image: linear-gradient(top, #5b3c09, #a06910 4%, #c68214);
    -webkit-box-shadow: inset #5b3c09 0 0 0.5em; }

#block-eduglu_core-thread_stats {
  font-size: 90%; }
  #block-eduglu_core-thread_stats strong {
    font-size: 110%; }
  #block-eduglu_core-thread_stats .block-content {
    color: gray; }
  #block-eduglu_core-thread_stats a {
    color: #666666; }
  #block-eduglu_core-thread_stats img {
    padding: 0 3px 3px 0;
    float: left; }

.help {
  float: left; }

.messages {
  margin-bottom: 1.5em;
  padding: 0.68em;
  font-weight: bold;
  background: window;
  margin-left: 10px;
  width: 640px;
  clear: both; }
  .messages.success {
    border: 1px solid #7AC142;
    color: #55872E;
    background: #F1F8EB; }
  .messages ul {
    margin-bottom: 0; }

/** Recent activity **/
.activity-item {
  border-bottom: 1px solid gray;
  margin-bottom: 15px; }

.view-eduglu-recent-activity .item-list li {
  list-style: none;
  margin: 0; }
.view-eduglu-recent-activity h2 {
  margin-bottom: 0; }

.activity-teaser a {
  text-decoration: underline; }

.activity-meta {
  font-style: italic;
  font-size: 90%;
  color: gray; }
  .activity-meta a {
    font-style: italic;
    font-size: 90%;
    color: gray; }

.activity-item-group-name {
  color: #4f76a9; }
  .activity-item-group-name a {
    color: #4f76a9; }

.activity-body {
  display: none; }

.activity-node-title {
  text-decoration: underline; }

#user-login {
  margin-left: 210px; }

/* Messages */
.messages {
  background-color: white;
  border: 1px solid #b8d3e5; }

div.status {
  color: #33a333;
  border-color: #c7f2c8; }
div.error {
  color: #a30000;
  background-color: #FFCCCC; }

tr.error {
  color: #a30000;
  background-color: #FFCCCC; }

.form-item input.error, .form-item textarea.error {
  border: 1px solid #c52020;
  color: #363636; }

/* Vertical Tabs are too wide */
div.vertical-tabs {
  width: 716px; }

/* Override system.css css for tabs */
#context-links {
  border: none;
  border-bottom: 2px solid #e6e6e6;
  padding: 5px 10px;
  margin-bottom: 2em;
  height: 22px;
  background: #f2f2f2;
  background-image: -webkit-gradient(linear, 50% 100%, 50% 0%, color-stop(0%, #e6e6e6), color-stop(70%, #f2f2f2));
  background-image: -moz-linear-gradient(bottom, #e6e6e6, #f2f2f2 70%);
  background-image: linear-gradient(bottom, #e6e6e6, #f2f2f2 70%); }
  #context-links .title {
    margin-top: 1px; }

.tabs {
  margin-top: 8px; }
  .tabs ul {
    margin: 0;
    padding: 0;
    border: 0; }
    .tabs ul.primary {
      margin: 0; }

ul.tabs li a {
  border: none;
  background-color: inherit;
  padding: 5px 10px; }

.tabs .tabs li a:hover {
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px;
  color: #333333;
  background: #dddddd;
  padding: 4px 9px;
  border: 1px solid #cccccc;
  border-color: #cccccc #dddddd white; }
.tabs ul.primary li.active a {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
  padding: 5px 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid white;
  color: black; }

h.tabs ul.primary li.active a:hover {
  -moz-border-radius-topleft: 10px;
  -webkit-border-top-left-radius: 10px;
  -o-border-top-left-radius: 10px;
  -ms-border-top-left-radius: 10px;
  -khtml-border-top-left-radius: 10px;
  border-top-left-radius: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-right-radius: 10px;
  -o-border-top-right-radius: 10px;
  -ms-border-top-right-radius: 10px;
  -khtml-border-top-right-radius: 10px;
  border-top-right-radius: 10px;
  -moz-border-radius-bottomleft: 0;
  -webkit-border-bottom-left-radius: 0;
  -o-border-bottom-left-radius: 0;
  -ms-border-bottom-left-radius: 0;
  -khtml-border-bottom-left-radius: 0;
  border-bottom-left-radius: 0;
  -moz-border-radius-bottomright: 0;
  -webkit-border-bottom-right-radius: 0;
  -o-border-bottom-right-radius: 0;
  -ms-border-bottom-right-radius: 0;
  -khtml-border-bottom-right-radius: 0;
  border-bottom-right-radius: 0;
  background-color: white;
  padding: 5px 10px;
  border-top: 1px solid black;
  border-right: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 2px solid white;
  color: black; }

.tabs ul.secondary {
  margin-top: 7px;
  padding: 5px;
  background: white;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
  -o-border-radius: 10px;
  -ms-border-radius: 10px;
  -khtml-border-radius: 10px;
  border-radius: 10px; }
  .tabs ul.secondary a.active {
    color: white;
    background-color: #4f76a9;
    border: none;
    padding: 4px 9px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    -o-border-radius: 10px;
    -ms-border-radius: 10px;
    -khtml-border-radius: 10px;
    border-radius: 10px; }
    .tabs ul.secondary a.active:hover {
      color: white;
      background-color: #4f76a9;
      border: none;
      padding: 4px 9px;
      -moz-border-radius: 10px;
      -webkit-border-radius: 10px;
      -o-border-radius: 10px;
      -ms-border-radius: 10px;
      -khtml-border-radius: 10px;
      border-radius: 10px; }

/**
 * Module: DIFF =======================================================
 */
div.diff-inline-controls {
  float: right;
  background-color: inherit; }
  div.diff-inline-controls span.diff-inline-legend {
    float: left; }
div.block-diff div.block-content {
  max-height: 200px;
  overflow: auto; }
div.block-diff table.diff-inline-revisions tr {
  color: #999999;
  background: transparent;
  border-top: 1px solid #eeeeee; }
  div.block-diff table.diff-inline-revisions tr:hover {
    color: #999999;
    background: transparent;
    border-top: 1px solid #eeeeee; }
  div.block-diff table.diff-inline-revisions tr.active {
    color: #333333; }

span.diff-deleted {
  color: #cccccc; }
span.diff-added, span.diff-changed {
  padding-top: 5px;
  padding-bottom: 5px;
  background: #ffc;
  border-bottom: 1px solid #fe9;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  -o-border-radius: 3px;
  -ms-border-radius: 3px;
  -khtml-border-radius: 3px;
  border-radius: 3px; }
span.diff-added {
  background: #cfc;
  border-color: #9c9; }

.blank-slate {
  border: 1px solid #c7f2c8;
  color: #33A333;
  margin-top: 1em;
  padding: 10px;
  display: block;
  text-align: center;
  background-color: window; }

/* Table overrides */
tr.odd .form-item, tr.even .form-item {
  max-width: 100%; }

.ahah-progress {
  height: 26px;
  float: none; }

img.float-left {
  float: left;
  margin: 10px 10px 10px 0; }
img.float-right {
  float: right;
  margin: 10px 0 10px 10px; }

.field-field-attachment {
  clear: both; }

/* Node Edit Form */
#edit-body-wrapper {
  width: 580px;
  /* So body form looks the same as what it'll look published */ }

#sidebar-right {
  background: url(images/vline.png) no-repeat scroll 0 0 transparent;
  margin-left: 0;
  padding-left: 10px; }
  #sidebar-right .block-apachesolr h2 {
    font-size: 1em;
    font-weight: bold;
    color: inherit;
    background: none; }

.view-groups-listing .views-field p {
  margin: 0;
  font-size: 87.5%; }
.view-groups-listing .views-field a {
  font-size: 112.5%; }

.admin-menu #top-stuff {
  position: relative; }
.admin-menu #page {
  margin-top: 21px; }

.teaser-checkbox div.form-item {
  display: none; }
